<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #main{
        height:100vh;
        width:100%;
        background: #000;
    }
    .nav-bar{
        height:10vh;
        width:100%;
        background-color: #dddadd;
    }
</style>
<body>
    <div id="main">
        <nav class="nav-bar">
             
        </nav>
    </div>
</body>
</html>