<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        box-sizing: border-box;
        padding:0;
        margin:0;

    }
    .main{
         
        height:100vh;
        width:100%;
        background-color: black;
        text-align: center;
      
        margin-top: -10px;
    }
    .main h1{
        color:white;
        font-size: 20px;

    }
    .main .container{
          margin: auto;
          margin-top: 30px;
        height:600px;
        width:600px;
        background-color: white;
    }
    .container input{
         margin-top: 20px;
    }
</style>
<body>

    <div class="main">
        <h1>Registration</h1>
        <div class="container">
         <label>Firstname</label><input type="text">
         <label>Lastname</label><input type="text"><br>
         <label>Email:</label><input type="email" name="" id=""><br>
         <label >Password:</label><input type="password" name="" id="">
         <label>Confirm-passsword:</label><input type="password" name="" id="">
         <button>Submit</button>
        </div>
    </div>
    
</body>
</html>