











 <style>
        .class{
            background-color: blue;
            height:10%;
            width:100%;
            
        }
</style>



<footer class="footer">
      <h1>this is created by @princisharma</h1>
</footer>